# -*- coding: utf-8 -*-
"""
Created on Wed Aug 13 12:25:19 2025

@author: Esneyder Montoya, PhD, PE
"""

import pandas as pd
import ezdxf as ed
from collections import Counter
import math
from fractions import Fraction
from ezdxf import colors

import streamlit as st
import subprocess
import sys
import os
from pathlib import Path
import tempfile